html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  // font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 1rem;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
}
