html {
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  @include typo($line-height: 1.5, $font-family: var(--font));
  overflow-x: hidden;
  overflow-y: overlay;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  min-height: 100%;
}
.layout {
  @include flex-box(row);
}
.content {
  @include flex-box(column);
  width: 100%;
  min-height: 700px;
  padding: var(--layout-padding);
  background-color: var(--color-gray-0);
  > div {
    height: 100%;
  }
}
.dark {
  .content {
    background-color: var(--color-gray-10);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: var(--color-gray-40);
  border-radius: var(--radius-xs);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-800);
  border-radius: var(--radius-xs);
}
