/* ===== Variables Map ===== */
/* Typography */
$font-size-map: (
  38: 38px,
  22: 22px,
  20: 20px,
  18: 18px,
  16: 16px,
  15: 15px,
  14: 14px,
  12: 12px,
  10: 10px,
);
:root {
  @each $key, $value in $font-size-map {
    --font-size-#{$key}: #{$value};
  }
  --font: '', -apple-system, BlinkMacSystemFont, 'system-ui', 'Apple SD Gothic Neo', sans-serif;
}

/* Media Query */
$media-query-map: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1280px,
);
:root {
  @each $key, $value in $media-query-map {
    --breakpoint-#{$key}: #{$value};
  }
}

/* ===== Layout ===== */
:root {
  --layout-min-width: 320px;
  --layout-header-height: 56px;
}

/* ===== Color ===== */
:root {
  // primary scale
  --color-primary-900: #2965be;
  --color-primary-800: #4281e0;

  // gray scale
  --color-gray-900: #000000;
  --color-gray-800: #262626;
  --color-gray-700: #434343;
  --color-gray-600: #555555;
  --color-gray-500: #8e8e8e;
  --color-gray-400: #b9b9b9;
  --color-gray-300: #cfcfcf;
  --color-gray-200: #ebebeb;
  --color-gray-100: #f3f3f3;
  --color-gray-0: #ffffff;

  /* Darkmode */
  .dark {
    // primary scale
    --color-primary-900: #1c2b47;

    // gray scale
    --color-gray-900: #fffdfd;
    --color-gray-800: #f3f3f3;
    --color-gray-700: #fffdfd;
    --color-gray-600: #cfcfcf;
    --color-gray-500: #8e8e8e;
    --color-gray-400: #555555;
    --color-gray-300: #363636;
    --color-gray-200: #434343;
    --color-gray-100: #181818;
    --color-gray-0: #28292d;
  }
}

/* Border Radius */
:root {
  --radius--full: 100%;
  --radius--xl: 100px;
  --radius--lg: 20px;
  --radius--md: 10px;
  --radius--sm: 8px;
  --radius--xs: 4px;
}

/* etc */
:root {
  --transition: all 150ms ease;
}
