/* ===== Variables Map ===== */
/* Typography */
$font-size-map: (
  38: 38px,
  24: 24px,
  22: 22px,
  20: 20px,
  18: 18px,
  16: 16px,
  15: 15px,
  14: 14px,
  12: 12px,
  10: 10px,
);
:root {
  @each $key, $value in $font-size-map {
    --font-size-#{$key}: #{$value};
  }
  --font: '', -apple-system, BlinkMacSystemFont, 'system-ui', 'Apple SD Gothic Neo', sans-serif;
}

/* Media Query */
$media-query-map: (
  mobile: 375px,
  tablet: 600px,
  desktop: 1024px,
);

:root {
  @each $key, $value in $media-query-map {
    --breakpoint-#{$key}: #{$value};
  }
}

/* ===== Layout ===== */
:root {
  --layout-min-width: 320px;
  --layout-header-height: 60px;
  --layout-footer-height: 40px;
  --layout-sidebar-width: 280px;
  --layout-padding: 40px 20px;
}
:root {
  --z-index-sidebar: 0;
}
/* ===== Color ===== */
:root {
  // Primary Scale
  --color-primary-900: #2965be;
  --color-primary-800: #4281e0;

  // Secondary Scale
  --color-secondary-900: #1c2b47;
  --color-secondary-800: #435271;

  // Gray Scale
  --color-gray-100: #000000;
  --color-gray-90: #222222;
  --color-gray-80: #333333;
  --color-gray-70: #555555;
  --color-gray-60: #666666;
  --color-gray-50: #b3b3b3;
  --color-gray-40: #c7c7c7;
  --color-gray-30: #dddddd;
  --color-gray-20: #eaeaea;
  --color-gray-10: #f4f4f4;
  --color-gray-0: #ffffff;

  // Etc Scale
  --color-red-900: #ea3535;

  /* Darkmode */
  .dark {
    // Primary Scale
    --color-primary-900: #392e7c;
    --color-primary-800: #5b44e2;

    // Secondary Scale
    --color-secondary-900: #1e242f;
    --color-secondary-800: #353f51;

    // Gray Scale
    --color-gray-100: #fdfdfd;
    --color-gray-90: #c9c9d0;
    --color-gray-80: #a3a3b1;
    --color-gray-70: #80808e;
    --color-gray-60: #6f6f7c;
    --color-gray-50: #555561;
    --color-gray-40: #41414b;
    --color-gray-30: #3b3b44;
    --color-gray-20: #2c2c35;
    --color-gray-10: #232328;
    --color-gray-0: #101012;
  }
}

/* Border Radius */
:root {
  --radius-full: 100%;
  --radius-xl: 100px;
  --radius-lg: 20px;
  --radius-md: 10px;
  --radius-sm: 8px;
  --radius-xs: 4px;
}

/* Form Height */
:root {
  --form-height-sm: 32px;
  --form-height-md: 36px;
  --form-height-lg: 38px;
  --form-height-xl: 42px;
}

/* etc */
:root {
  --transition: all 150ms ease;

  --font: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;

  /* Theme Toggle */
  --theme-toggle-light-ico-color: #ffffff;
  --theme-toggle-light-bg-color: #fa9d73;
  --theme-toggle-dark-ico-color: #ffffff;
  --theme-toggle-dark-bg-color: #435271;
  --theme-toggle-control-bg-color: #ffffff;
}
