@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin truncate-multi($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
}

@mixin typo($size: var(--font-size-16), $weight: 400, $color: var(--color-gray-100), $line-height: null, $font-family: null) {
  font-family: if($font-family == null, null, $font-family);
  line-height: if($line-height == null, null, $line-height);
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
